---
 const personalImageAlt = "Miguel Ángel picture"
---

<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Deivid Veloza, tengo 23 años y soy de Bogotá. Mi aventura en la programación comenzó a los 17 años con un Intel 2 Quad. Me apasiona centrarme en el rendimiento, siempre buscando brindar <strong>la mejor experiencia posible a los usuarios. </strong>
    </p>

    <p>
      Entre mis logros, destaca mi <strong>contribución</strong> al crecimiento de grandes empresas mediante la colaboración estratégica y la <strong> integración exitosa de nuevas tecnologías.</strong>
    </p>

    <p>
      Como Desarrollador Mobile, tengo un amplio <strong>catálogo</strong> de aplicaciones desarrolladas para Android e iOS, disponibles en la <strong>Play Store</strong> y la <strong>App Store</strong>.
    </p>

    <p>
      Algunas de mis pasiones incluyen <strong>los videojuegos de rol</strong> y disfrutar del ejercicio los fines de semana, especialmente en bicicleta.
    </p>
  </div>

  <img src="/me.png" class="rounded-full size-64 order-1 md:order-2" alt={personalImageAlt}/>

</section>


