---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Freelance FullStack - Winnersmastermind",
    description:
      "Diseño y desarrollo de múltiples landing pages con éxito. Entre mis logros se destaca la creación de un proceso realizado con python donde se pudo realizar mas de 800 landings pages en menos de una semana en varios idiomas, implementacion de procesos automaticos para eficiencia a la empresa. funcionalidades clave para mejoras de trabajo, se establecio conexiones y configuro microservicios en el servidor. Además, he realizado pruebas exhaustivas y ajustes para asegurar la compatibilidad y el rendimiento en dispositivos móviles (responsive design).",
    link: "https://winnersmastermind.com/",
  },
  {
    date: "Diciembre 2022 - abril 2024",
    title: "Analistas Programador - Exiware",
    description:
      "Desarrollador y analista mobile, especializado en la creación de componentes para aplicaciones web. Logré mejoras del 40% en la entrega de software mediante integración continua y despliegue con A/B testing. Además, implementé un chat interno entre usuarios para mejorar la comunicación y colaboración en equipos.",
    link: "https://www.instagram.com/exiwaresoft/",
  },
  {
    date: "Abril 2021 - Noviembre 2022",
    title: "Frontend Developer − VuezCompany",
    description:
      "Responsable central en crear interfaces de usuario modernas y eficientes. Implementacion de componentes reutilizables, Diseño y desarrollo de animaciones cautivadoras para potenciar la experiencia del usuario, optimizacion del rendimiento de las aplicaciónes, integraciónes fluidas en Equipo.",
  },
  {
    date: "Abril 2021 - Noviembre 2022",
    title: "Coordinador − CelumovilStore",
    description:
      "Responsable central en el control,manejo y liderazgo del equipo a cargo en la empresa, diseñador de piezas para mejoras en las ventas de la empresa ",
    link: "https://www.instagram.com/celumovilstore/",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
