---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Analistas Programador - Exiware",
    description:
      "Desarrollador y analista mobile, especializado en la creación de componentes para aplicaciones web. Logré mejoras del 40% en la entrega de software mediante integración continua y despliegue con A/B testing. Además, implementé un chat interno entre usuarios para mejorar la comunicación y colaboración en equipos.",
    link: "https://www.instagram.com/exiwaresoft/",
  },
  {
    date: "Abril 2021 - Noviembre 2022",
    title: "Frontend Developer − VuezCompany",
    description:
      "Responsable central en crear interfaces de usuario modernas y eficientes. Implementacion de componentes reutilizables, Diseño y desarrollo de animaciones cautivadoras para potenciar la experiencia del usuario, optimizacion del rendimiento de las aplicaciónes, integraciónes fluidas en Equipo.",
  },
  {
    date: "Abril 2021 - Noviembre 2022",
    title: "Frontend Developer − VuezCompany",
    description:
      "Responsable central en crear interfaces de usuario modernas y eficientes. Implementacion de componentes reutilizables, Diseño y desarrollo de animaciones cautivadoras para potenciar la experiencia del usuario, optimizacion del rendimiento de las aplicaciónes, integraciónes fluidas en Equipo.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
